In [8]:
import pandas as pd
import numpy as np
import scipy.stats as sc

**Problem Statement 1:**

**In each of the following situations, state whether it is a correctly stated hypothesis
testing problem and why?**
1. H0: μ = 25, H1: μ ≠ 25
        => Correctly stated, it is a two tailed test.
2. H0: σ > 10, H1: σ = 10
        => Incorrectly stated, H1 should be σ<=10 to make it one tailed test
3. H0: x = 50, H1: x ≠ 50
        => Correctly stated, it is a two tailed test.
4. H0: p = 0.1, H1: p = 0.5
        => Incorrectly Stated, H1 should be p ≠ 0.1
5. H0: s = 30, H1: s > 30
        => Incorrectly Stated, H1 should be s ≠ 30(for two tailed test) or H0: s<=30 (for one tailed test)

**Problem Statement 2:**


**The college bookstore tells prospective students that the average cost of its
textbooks is Rs. 52 with a standard deviation of Rs. 4.50. A group of smart statistics
students thinks that the average cost is higher. To test the bookstore’s claim against
their alternative, the students will select a random sample of size 100. Assume that
the mean from their random sample is Rs. 52.80. Perform a hypothesis test at the
5% level of significance and state your decision.**

In [11]:
# H0: μ = 52, H1: μ ≠ 52
#Above is a two tailed test...........

p_mean=52
p_std=4.5
n=100
samp_mean=52.80
alpha=0.05

#As sample size is large and distribution is unknown we will go ahead with z-test
std_err=p_std/np.sqrt(n)

z_test=(samp_mean-p_mean)/std_err

print('Z test value is: ',round(z_test,2))

p=2*(1-(sc.norm.cdf(np.absolute(z_test))))
print('p value: ',p)

if(p<alpha):
    print('Bookseller claim is wrong & We reject the NULL hypothesis...')
else:
    print('Bookseller claim is right & we accept the NULL hypothesis...')

Z test value is:  1.78
p value:  0.0754403596268014
Bookseller claim is right & we accept the NULL hypothesis...

**Problem Statement 3:**

**A certain chemical pollutant in the Genesee River has been constant for several
years with mean μ = 34 ppm (parts per million) and standard deviation σ = 8 ppm. A
group of factory representatives whose companies discharge liquids into the river is
now claiming that they have lowered the average with improved filtration devices. A
group of environmentalists will test to see if this is true at the 1% level of
significance. Assume \ that their sample of size 50 gives a mean of 32.5 ppm.
Perform a hypothesis test at the 1% level of significance and state your decision.**

In [12]:
# H0: μ = 34, H1: μ < 34
#Above is a one tailed test...........

p_mean=34
p_std=8
n=50
samp_mean=32.5
alpha=0.01

#As sample size is large and distribution is unknown we will go ahead with z-test
std_err=p_std/np.sqrt(n)

z_test=(samp_mean-p_mean)/std_err

print('Z test value is: ',round(z_test,2))

p=sc.norm.cdf(np.absolute(z_test))
print('p value: ',p)

if(p<alpha):
    print('We reject the NULL hypothesis...')
else:
    print('We accept the NULL hypothesis...')

Z test value is:  -1.33
p value:  0.9075512005172
We accept the NULL hypothesis...

**Problem Statement 4:**

**Based on population figures and other general information on the U.S. population,
suppose it has been estimated that, on average, a family of four in the U.S. spends
about $1135 annually on dental expenditures. Suppose further that a regional dental
association wants to test to determine if this figure is accurate for their area of
country. To test this, 22 families of 4 are randomly selected from the population in
that area of the country and a log is kept of the family’s dental expenditure for one
year. The resulting data are given below. Assuming, that dental expenditure is
normally distributed in the population, use the data and an alpha of 0.5 to test the
dental association’s hypothesis.**

**1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,
872, 913, 944, 954, 987, 1695, 995, 1003, 994**

In [15]:
#Sample size is less than 30 hence t test is used
#Two tailed test
p_mean=1135
apha=0.5
data=[1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699, 872, 913, 944, 954, 987, 1695, 995, 1003, 994]

s_mean=np.mean(data)
s_std=np.std(data)
n=len(data)

std_err=s_std/np.sqrt(n)

t_test=(s_mean-p_mean)/std_err

p=2*(1-sc.t.cdf(x=np.absolute(t_test),df=21))

print('T-test Value: ',t_test)
print('p val: ',p)

if(p<alpha):
    print('We reject the NULL hypothesis...')
else:
    print('We accept the NULL hypothesis...')

T-test Value:  -2.070747228595759
p val:  0.050898290089189
We accept the NULL hypothesis...

**Problem Statement 5:**

**In a report prepared by the Economic Research Department of a major bank the Department manager maintains that the average annual family income on Metropolis is 48,432. What do you conclude about the validity of the report if a random sample of 400 families shows and average income of 48,574 with a standard deviation of 2000?**

In [16]:
#Two tailed test to be used and z-test to be used as sample size > 400
p_mean=48432
n=400
samp_mean=48574
sample_std=2000
alpha=0.05

std_err=sample_std/np.sqrt(n)

z_test=(samp_mean-p_mean)/std_err

print('Z test value is: ',round(z_test,2))

p=2*(1-(sc.norm.cdf(np.absolute(z_test))))
print('p value: ',p)

if(p<alpha):
    print('We reject the NULL hypothesis...')
else:
    print('We accept the NULL hypothesis...')

Z test value is:  1.42
p value:  0.15560768105309286
We accept the NULL hypothesis...

**Problem Statement 6:**
    
**Suppose that in past years the average price per square foot for warehouses in the
United States has been 32.28. A national real estate investor wants to determine
whether that figure has changed now. The investor hires a researcher who randomly
samples 19 warehouses that are for sale across the United States and finds that the
mean price per square foot is 31.67, with a standard deviation of 1.29. assume
that the prices of warehouse footage are normally distributed in population. If the
researcher uses a 5% level of significance, what statistical conclusion can be
reached? What are the hypotheses?**

In [17]:
#The problem statement indicates from a two tailed test
#If n<30 then t-test should be used
p_mean=32.28
n=19
samp_mean=31.67
samp_std=1.29
alpha=0.05

std_err=samp_std/np.sqrt(n)

t_test=(samp_mean-p_mean)/std_err

p=2*(1-sc.t.cdf(x=np.absolute(t_test),df=21))

print('T-test Value: ',t_test)
print('p val: ',p)

if(p<alpha):
    print('We reject the NULL hypothesis...')
else:
    print('We accept the NULL hypothesis...')

T-test Value:  -2.06118477175179
p val:  0.05188329335811237
We accept the NULL hypothesis...

**Problem Statement 8:**
    
**Find the t-score for a sample size of 16 taken from a population with mean 10 when
the sample mean is 12 and the sample standard deviation is 1.5.**

In [19]:
p_mean=10
n=16
samp_mean=12
samp_std=1.5

std_err=samp_std/np.sqrt(n)

t_test=(samp_mean-p_mean)/std_err

print('T-test Value: ',round(t_test,2))

T-test Value:  5.33

**Problem Statement 9:**
    
**Find the t-score below which we can expect 99% of sample means will fall if samples
of size 16 are taken from a normally distributed population.**

In [20]:
print('T-score is: ',sc.t.ppf(q=0.99,df=15))

T-score is:  2.602480294995493

**Problem Statement 10:**

**If a random sample of size 25 drawn from a normal population gives a mean of 60
and a standard deviation of 4, find the range of t-scores where we can expect to find
the middle 95% of all sample means.  
Compute the probability that (−t0.05 <t<t0.10).**

In [21]:
print('T-score is: ',sc.t.ppf(q=0.95,df=24))
print('Probability: ',1-0.15)

T-score is:  1.7108820799094275
Probability:  0.85

**Problem Statement 11:**

**Two-tailed test for difference between two population means
Is there evidence to conclude that the number of people travelling from Bangalore to
Chennai is different from the number of people travelling from Bangalore to Hosur in
a week, given the following:**

**Population 1: Bangalore to Chennai   
            n1 = 1200  
            x1 = 452  
            s1 = 212**
    
**Population 2: Bangalore to Hosur  
            n2 = 800  
            x2 = 523  
            s2 = 185**

In [25]:
#NULL Hypothesis=> No of people travelling from bangalore to chennai is same as no of people travelling from bangalore to hosur.
#Population 1:
n1=1200
x1=452
s1=212
#Population 2:
n2=800
x2=523
s2=185

std_err=np.sqrt((s1**2/n1)+(s2**2/n2))
print('Standard Err: ',std_err)

z_test=((x1-x2)/std_err)
print('Z-test value is: ',z_test)

p=2*(1-(sc.norm.cdf(np.absolute(z_test))))
print('p value: ',p)

if(p<alpha):
    print('We reject the NULL hypothesis...')
else:
    print('We accept the NULL hypothesis...')

Standard Err:  8.957375917830698
Z-test value is:  -7.926428526759299
p value:  2.220446049250313e-15
We reject the NULL hypothesis...

**Problem Statement 12:**
    
**Is there evidence to conclude that the number of people preferring Duracell battery is
different from the number of people preferring Energizer battery, given the following:  
Population 1: Duracell  
n1 = 100  
x1 = 308  
s1 = 84**

**Population 2: Energizer  
n2 = 100  
x2 = 254  
s2 = 67**

In [27]:
#NULL Hypothesis=> No of people preferring Duracell battery is equal to the once using Energizer.
#Population 1:
n1=100
x1=308
s1=84
#Population 2:
n2=100
x2=254
s2=67

std_err=np.sqrt((s1**2/n1)+(s2**2/n2))
print('Standard Err: ',std_err)

z_test=((x1-x2)/std_err)
print('Z-test value is: ',z_test)

p=2*(1-(sc.norm.cdf(np.absolute(z_test))))
print('p value: ',p)

if(p<alpha):
    print('We reject the NULL hypothesis...')
else:
    print('We accept the NULL hypothesis...')

Standard Err:  10.74476616776745
Z-test value is:  5.025702668336442
p value:  5.015925257367826e-07
We reject the NULL hypothesis...

**Problem Statement 13:**
    
**Pooled estimate of the population variance
Does the data provide sufficient evidence to conclude that average percentage
increase in the price of sugar differs when it is sold at two different prices?
Population 1:  
Price of sugar = Rs. 27.50  
n1 = 14  
x1 = 0.317%  
s1 = 0.12%**

**Population 2:  
Price of sugar = Rs. 20.00  
n2 = 9  
x2 = 0.21%  
s2 = 0.11%**

In [32]:
#As the samples are too small we use t-test
n1=14
x1=0.317*n1*27.5
s1=0.12*n1*27.5

n2=9
x2=0.21*n2*20
s2=0.11*n2*20

degree_of_freedom=n1+n2-2
print('Degree Of Freedom: ',degree_of_freedom)
print(x1,x2)
print(s1,s2)

Degree Of Freedom:  21
122.04499999999999 37.8
46.199999999999996 19.8

**Problem Statement 14:**
    
**The manufacturers of compact disk players want to test whether a small price
reduction is enough to increase sales of their product. Is there evidence that the
small price reduction is enough to increase sales of compact disk players?**  
**Population 1: Before reduction  
n1 = 15  
x1 = Rs. 6598 s1 = Rs. 844**  

**Population 2: After reduction n2 = 12  
x2 = RS. 6870  
s2 = Rs. 669**

In [33]:
n1=15
x1=6598
s1=844

n2=12
x2=6870
s2=669

std_dev=np.sqrt((s1+s2)/(n1+n2-2))

std_err=std_dev * np.sqrt((1/n1)+(1/n2))

t_test=(x1-x2)/std_err

print('T-test value is: ',t_test)

p=sc.t.cdf(t_test,df=n1+n2-1)

if(p<alpha):
    print('We reject the NULL hypothesis...')
else:
    print('We accept the NULL hypothesis...')

T-test value is:  -90.2763132503892
We reject the NULL hypothesis...